@tailwind base;
@tailwind components;
@tailwind utilities;

ul.list-disc {
  list-style-type: disc;
  padding-left: 20px; /* Adjust the padding as needed */
}

ul.list-disc li {
  margin-bottom: 8px; /* Adjust the spacing between list items as needed */
}

body {
  background-color: #add8e6; /* This sets the background to a light blue */
}
